.CustomersPage {
    display: flex;
    flex-direction: column;
    align-content: left;
}

.CustomersPage_searchArea {
    display: flex;
    flex-direction: row;
}

.CustomersPage_searchArea * {
    margin-right: 1rem;
}

.CustomersPage_table_row_cell {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}